/**
 * @theme vscode-conf
 * @auto-scaling true
 */

@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Inter:wght@100..900&family=JetBrains+Mono:wght@100..800&display=swap');

@mixin first-child($element) {
  section > #{$element}:first-child,
  section > header:first-child + #{$element} {
    @content;
  }
}

:where(*, *::before, *::after) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors rgb */
  --black-rgb: 38 38 38;
  --white-rgb: 255 255 255;
  --navy-rgb: 68 84 106;
  --blue-rgb: 91 155 213;

  /* Colors */
  --black: rgb(var(--black-rgb));
  --white: rgb(var(--white-rgb));
  --navy: rgb(var(--navy-rgb));
  --blue: rgb(var(--blue-rgb));

  /* Fonts */
  --font-sans: 'Inter', BIZ UDPGothic, Hiragino Sans, Hiragino Kaku Gothic ProN,
    Meiryo, sans-serif;
  --font-monospace: 'JetBrains Mono', 'Courier New', Courier, monospace;
  --font-line-height: 1.5;
  --font-letter-spacing: 0.04em;

  font-size: 32px;
}

section {
  /* Default color scheme */
  --background-rgb: var(--black-rgb);
  --background: rgb(var(--background-rgb));

  --foreground-rgb: var(--white-rgb);
  --foreground: rgb(var(--foreground-rgb));

  --link: var(--blue);
  --code-background: #0d1117;
  --code-foreground: #e2e7ec;

  width: 1280px;
  height: 720px;
  padding: 50px 60px 92px;
  background-color: var(--background);
  background-image: url('./assets/bg-dark.svg');
  color: var(--foreground);
  font-family: var(--font-sans);
  line-height: var(--font-line-height);
  letter-spacing: var(--font-letter-spacing);
  font-feature-settings: 'palt' 1;

  &::after {
    padding: 0;
    bottom: 24px;
    right: 20px;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 0 0 3px var(--background);
  }

  :is(h1, h2, h3, h4, h5, h6, p, table, blockquote, pre, ul, ol):last-child {
    margin-bottom: 0;
  }

  /* Variants */
  &:where(.light) {
    --background-rgb: var(--white-rgb);
    --foreground-rgb: var(--black-rgb);

    --code-background: var(--white);
    --code-foreground: #24292e;

    background-image: url('./assets/bg-light.svg');
  }
}

/*** Elements ***/
header,
footer {
  font-size: 0.4rem;
  color: rgb(var(--foreground-rgb) / 50%);
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

header {
  top: 20px;
  left: 25px;
  right: 25px;
}

footer {
  bottom: 20px;
  left: 240px;
  right: 240px;
  text-align: center;
}

p {
  text-align: justify;
  text-align-last: left;
  display: block;
  margin: 0 0 0.6rem;
}

img {
  width: auto;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.6em;
  font-weight: 700;
  word-break: auto-phrase;

  strong {
    color: var(--blue);
    font-weight: inherit;
  }

  &::part(auto-scaling) {
    max-height: 100cqh;
  }
}

h1 {
  font-size: 2.1rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: var(--link);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

blockquote {
  margin: 0.8rem 0;
  background: rgb(var(--foreground-rgb) / 7%);
  box-shadow: inset 0.4rem 0 0 rgb(var(--foreground-rgb) / 10%);
  border-radius: 0.4rem;
  padding: 0.4rem 0.6rem 0.4rem 1rem;
  font-size: 0.85rem;
}

@include first-child(':is(blockquote, ul, ol, pre, table)') {
  margin-top: 0;
}

ul,
ol {
  margin: 0 auto;
  padding: 0 0 0 1.2rem;
  text-align: left;

  > li {
    margin: 0.4rem 0;
  }
}

section > ul,
section > ol {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

pre,
code {
  background: var(--code-background);
  border: 1px solid rgb(var(--foreground-rgb) / 15%);
  border-radius: 0.4em;
  border-bottom-width: 0.2ex;
  border-right-width: 0.2ex;
  color: var(--code-foreground);
  font-family: var(--font-monospace);
  font-variant-ligatures: none;
  font-size: 0.75em;
  letter-spacing: 0;
  line-height: 1.3;
  padding: 0.2em 0.4em;
  position: relative;
  top: -0.05em;
}

code {
  --highlight-line-begin: 1;
  --highlight-lines: 0;
  --highlight-line-color: rgb(var(--blue-rgb) / 50%);
}

pre {
  padding: 0.4em 0.6em;
  margin: 0.8rem 0;
  text-align: left;

  > code {
    all: unset;

    &::after {
      content: '';
      display: block;
      height: calc(1lh * var(--highlight-lines));
      position: absolute;
      inset: calc((1lh * var(--highlight-line-begin)) - 1lh) 0 auto;
      background: var(--highlight-line-color);
      mix-blend-mode: screen;
    }
  }

  &::part(auto-scaling) {
    max-height: calc(100cqh - 0.8em);
  }
}

section.light pre {
  @import 'pkg:highlight.js/styles/github';
}

section:not(.light) pre {
  @import 'pkg:highlight.js/styles/github-dark';
}

table {
  --border-color: currentcolor;
  --border-style: solid;

  border-collapse: collapse;
  margin: 0.8rem auto;

  > thead,
  > tbody {
    > tr {
      > td,
      > th {
        padding: 0.3em 0.5em;
      }
    }
  }

  > thead {
    &:not(:has(:is(td, th):not(:empty))) {
      display: none;
    }

    > tr {
      > td,
      > th {
        border-bottom: 4px var(--border-style) var(--border-color);
      }
    }
  }

  > tbody > tr:not(:last-child) {
    > td,
    > th {
      border-bottom: 2px var(--border-style) var(--border-color);
    }
  }
}

/*** Variants ***/
section.lead {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > p {
    text-align: center;
    text-align-last: center;
  }

  :is(blockquote, ul, ol, pre, table) {
    margin-top: 0;
  }
}

/*** Images ***/
img[title~='icon' i] {
  background: transparent;
  height: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
  width: 1em;
}

img[title~='centered' i],
section .centered {
  display: block;
  margin: 0.8rem auto;
  width: auto;
}
